body {
  background-color: #ecd7ff;
  margin: 0;
  padding: 0;
  font-family: 'Pangolin', cursive;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#counterValue {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #a25ac6;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.window {
  width: 200px;
  height: 200px;
  background-color: rgba(164, 90, 199, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.window-content {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column; 
}

.window-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.window-text span {
  font-size: 100px;
  line-height: 1.2;
}

#messageWindow{
  font-size: xx-large;
}

.player {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.player img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.player input {
  padding: 8px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  font-family: 'Pangolin', cursive;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.player input[type="text"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-family: 'Pangolin', cursive;
  font-size: 16px;
}

.player button {
  background-color: #a22ac6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Pangolin', cursive;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer; 
}

.player button:hover {
  background-color: #8e1fbf;
}

.player button.reset {
  background-color: #a22ac6;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Pangolin', cursive;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
}

.player button.reset:hover {
  background-color: #8e1fbf;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(164, 90, 199, 0.8);
}

#inputWord {
  position: relative;
}

#inputWord::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  pointer-events: none; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

#inputWord.correct::after {
  border-color: green; 
  opacity: 1;
}

#inputWord.incorrect::after {
  border-color: red; 
  opacity: 1; 
}

@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-5px); }
  20% { transform: translateX(5px); }
  30% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  60% { transform: translateX(5px); }
  70% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  90% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake-animation {
  animation: shake 0.5s linear;
}

.hearts img.gray {
  filter: grayscale(100%);
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: rgb(105, 158, 77);
  padding: 100px 200px;
  font-family: 'Pangolin', cursive;
  font-size: xx-large;
  border-radius: 20px;
  border-color: #a22ac6;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over.active {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}

#reload {
  background-color: #a22ac6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Pangolin', cursive;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

#reload:hover {
  background-color: #8e1fbf;
}