body {
  background-image: url("backGround.jpg");
  background-size: cover; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.start-btn-container {
  margin-bottom: 20px;
}

#startBtn {
  background-color: #ffffff;
  border: none;
  color: #a22ac6;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: 'Pangolin', 'Source Sans Pro', sans-serif;
  border-radius: 30px;
  transition: background-color 0.3s, transform 0.3s;
}

#startBtn:hover {
  background-color: #a22ac6;
  color: #ffffff;
  transform: scale(1.4);
}

#startBtn:active {
  background-color: #7f1e99;
  transform: scale(0.8);
}

.options-panel {
  display: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.language-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.language-panel div {
  display: flex;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.language-panel input[type="radio"] {
  display: none;
}

.language-panel label {
  display: inline-block;
  font-family: 'Pangolin', 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #a22ac6;
  cursor: pointer;
}

.language-panel img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.language-panel input[type="radio"]:checked + label {
  color: #ffffff;
  background-color: #a22ac6;
  padding: 5px 10px;
  border-radius: 20px;
}

.hearts-panel {
  margin-bottom: 10px;
}

.score-panel {
  margin-bottom: 10px;
}

label[for="heartsRange"],
label[for="scoreInput"] {
  font-family: 'Pangolin', 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #a22ac6;
  display: block;
  margin-bottom: 5px;
}

#heartsRange {
  width: 200px;
}

#heartsCount {
  font-family: 'Pangolin', 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #a22ac6;
  margin-top: 5px;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  font-family: 'Pangolin', 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #a22ac6;
  cursor: pointer;
  width: 150px; 
}

.custom-select select:focus {
  outline: none;
}

.custom-select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #a22ac6;
}

.custom-select:hover::after {
  color: #ffffff;
}

.custom-select option {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Pangolin', 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.custom-select option:hover {
  background-color: #a22ac6;
  color: #ffffff;
}